@import "styles/typography";
@import "styles/utils";

.sidebar {
  flex: 1;
  max-width: 0;
  display: flex;
  background: var(--black-900-color);
  transition: max-width 0.6s;

  &.open {
    width: 250px;
    max-width: 250px;
  }

  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 250px;
    padding: 27px 0px 32px;
  }

  .header, .footer {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
  }

  .body {
    flex: 1;
    overflow-y: scroll;
    padding: 0 24px;
    margin: 24px 0;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color);
      border-radius: 8px;
      background-clip: padding-box;
      border: 1px solid var(--black-900-color);
    }

    &::-webkit-scrollbar-track {
      background-color: var(--black-900-color);
    }
  }

  .logo {
    margin-bottom: 27px;

    @include media(">desktop") {
      display: none;
    }
  }

  .title {
    @include heading-small;

    color: var(--black-500-color);
    text-transform: uppercase;
    margin-bottom: 29px;
  }

  .documentListContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 26px;
    list-style: none;
  }
}
