@import "styles/typography";
@import "styles/utils";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: background 0.3s;

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &.primary {
    @include heading-medium;

    gap: 7.4px;
    color: var(--white-color);
    background: var(--primary-color);
    border-radius: 4px;

    &:hover {
      background: var(--primary-highlight-color);
    }
  }

  &.default {
    svg path {
      transition: fill 0.3s;
    }

    &:hover {
      svg path {
        fill: var(--primary-color);
      }
    }
  }

  &.menu {
    width: 56px;
    height: 100%;
    background: var(--black-700-color);

    &:hover {
      background: var(--primary-color);
    }

    @include media(">tablet") {
      width: 72px;
      height: 72px;
    }
  }

  &.icon {
    @include media(">tablet") {
      padding: 10px 17px 10px 16px;
    }

    .content {
      display: none;

      @include media(">tablet") {
        display: block;
      }
    }
  }

  .menuIcon {
    width: 23px;
    height: 14px;

    @include media(">tablet") {
      width: 30px;
      height: 18px;
    }
  }

  .closeIcon {
    width: 18px;
    height: 18px;

    @include media(">tablet") {
      width: 22.63px;
      height: 22.63px;
    }
  }
}
