@import "styles/typography";
@import "styles/utils";

.titleContainer {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 24px;

  .titleWrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;

    @include media(">tablet") {
      &::before {
        @include body-small;

        color: var(--black-500-color);
        content: 'Document Name';
      }
    }
  }

  .input {
    @include heading-medium;

    color: var(--white-color);
    background: transparent;
    border: none;
    outline: none;
  }
}
