@import "styles/typography";

.markdownEditor {
  @include preview-markdown-code;

  flex: 1;
  color: var(--theme-editor-color);
  background: var(--theme-background-color);
  border: none;
  outline: none;
  padding: 16px 12px;
}
