@import "styles/utils";

.documentView {
  flex: 1;
  display: flex;
  max-height: inherit;
  flex-direction: row !important;
  overflow: hidden;

  &.previewMode {
    .editorContainer {
      display: none;
    }

    .previewContainer {
      display: flex;

      .showPreviewButton {
        display: none;
      }

      .hidePreviewButton {
        display: flex;
      }

      .markdownRenderer {

        @include media(">tablet") {
          padding: 22px 48px 52px;
        }
      }
    }
  }

  .editorContainer, .previewContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .editorContainer {

    @include media(">tablet") {
      border-right: 1px solid var(--theme-line-color);
    }

    .showPreviewButton {
      @include media(">tablet") {
        display: none;
      }
    }
  }

  .previewContainer {
    display: none;

    @include media(">tablet") {
      display: flex;
    }

    .showPreviewButton {
      display: none;

      @include media(">tablet") {
        display: flex;
      }
    }

    .hidePreviewButton {
      display: flex;

      @include media(">tablet") {
        display: none;
      }
    }

    .markdownRenderer {
      overflow-y: scroll;
      max-height: inherit;
      padding: 16px 20px 54px;

      @include media(">tablet") {
        padding: 22px 24px 19px;
      }
    }
  }
}
