@import "styles/typography";

.titleBar {
  @include heading-small;

  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--black-500-color);
  text-transform: uppercase;
  background: var(--black-200-color);
  padding: 12px 4px 14px 16px;

  .buttonContainer {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
