@import "styles/typography";

.documentItem {
  display: flex;
  align-items: center;
  gap: 16px;

  &:hover {
    .title {
      color: var(--primary-color)
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .date {
    @include body-small;

    color: var(--black-500-color);
  }

  .title {
    @include heading-medium;

    color: var(--white-color);
    transition: color 0.3s;
  }
}
