@import "styles/typography";
@import "styles/utils";

.header {
  display: flex;
  justify-content: space-between;
  height: 56px;
  background: var(--theme-header-background-color);

  @include media(">tablet") {
    height: 72px;
  }

  .leftSide {
    flex: 1;
    display: flex;
    align-items: center;

    .logo {
      display: none;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 184px;
      height: 100%;

      @include media(">desktop") {
        display: flex;
      }

      &::after {
        position: absolute;
        right: 0;
        width: 1px;
        height: 40px;
        border-right: 1px solid var(--black-600-color);
        content: "";
      }
    }
  }

  .documentControlContainer {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-right: 8px;

    @include media(">tablet") {
      margin-right: 16px;
    }
  }
}
