@import "styles/typography";
@import "styles/utils";

.header {
  display: flex;
  justify-content: space-between;
  height: 56px;
  background: var(--theme-header-background-color);

  @include media(">tablet") {
    height: 72px;
  }

  .leftSide {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .documentControlContainer {
    display: flex;
    align-items: center;
    gap: 13px;
    margin-right: 8px;
  }
}
