:root {
  // Colors

  // Base Colors
  --black-1000-color: #151619;
  --black-900-color: #1D1F22;
  --black-800-color: #2B2D31;
  --black-700-color: #35393F;
  --black-600-color: #5A6069;
  --black-500-color: #7C8187;
  --black-400-color: #C1C4CB;
  --black-300-color: #E4E4E4;
  --black-200-color: #F5F5F5;
  --black-100-color: #FFFFFF;
  --white-color: var(--black-100-color);
  --orange-color: #E46643;
  --light-orange-color: #F39765;

  // Primary Colors
  --primary-color: var(--orange-color);
  --primary-highlight-color: var(--light-orange-color);

  --theme-header-background-color: var(--black-800-color);
}

.light {
  --theme-background-color: var(--white-color);
  --theme-title-bar-text-color: var(--black-500-color);
  --theme-title-bar-background-color: var(--black-200-color);
  --theme-editor-color: var(--black-700-color);
  --theme-line-color: var(--black-300-color);

  --theme-preview-heading-1-color: var(--black-700-color);
  --theme-preview-heading-2-color: var(--black-700-color);
  --theme-preview-heading-3-color: var(--black-700-color);
  --theme-preview-heading-4-color: var(--black-700-color);
  --theme-preview-heading-5-color: var(--black-700-color);
  --theme-preview-heading-6-color: var(--primary-color);
  --theme-preview-paragraph-color: var(--black-500-color);
  --theme-preview-markdown-code-color: var(--black-700-color);
  --theme-preview-box-background-color: var(--black-200-color);
  --theme-preview-blockquote-text-color: var(--black-700-color);

  --theme-modal-overlay-background-color: var(--black-1000-color);
  --theme-alert-box-background-color: var(--white-color);
}

.dark {
  --theme-background-color: var(--black-1000-color);
  --theme-title-bar-text-color: var(--black-400-color);
  --theme-title-bar-background-color: var(--black-900-color);
  --theme-editor-color: var(--black-400-color);
  --theme-line-color: var(--black-600-color);

  --theme-preview-heading-1-color: var(--white-color);
  --theme-preview-heading-2-color: var(--white-color);
  --theme-preview-heading-3-color: var(--white-color);
  --theme-preview-heading-4-color: var(--white-color);
  --theme-preview-heading-5-color: var(--white-color);
  --theme-preview-heading-6-color: var(--primary-color);
  --theme-preview-paragraph-color: var(--black-400-color);
  --theme-preview-markdown-code-color: var(--white-color);
  --theme-preview-box-background-color: var(--black-800-color);
  --theme-preview-blockquote-text-color: var(--white-color);

  --theme-modal-overlay-background-color: var(--black-500-color);
  --theme-alert-box-background-color: var(--black-900-color);
}
